<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        Simon and Speck ciphers
      </div>
    </v-app-bar>

    <v-content class="pl-4 pr-4">
      <v-col md="12" lg="6" offset-lg="3">
        <v-row>
          <v-col>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="text"
                  label="Input text"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col>
                <v-text-field
                  v-model="key"
                  :rules="[
                    (v) => !!v || 'Key is required',
                    (v) =>
                      v.length <= 16 || 'Key must be less than 16 characters',
                  ]"
                  :counter="16"
                  label="Key"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <div class="py-4">
              <v-card class="pa-4 ma-0">
                <v-card-title class="pa-0">Simon</v-card-title>
                <v-textarea
                  :value="simon.output"
                  no-resize
                  rows="4"
                ></v-textarea>
              </v-card>
            </div>
          </v-col>
          <v-col>
            <div class="py-4">
              <v-card class="pa-4 ma-0">
                <v-card-title class="pa-0">Speck</v-card-title>
                <v-textarea
                  :value="speck.output"
                  no-resize
                  rows="4"
                ></v-textarea>
              </v-card>
            </div>
          </v-col>
        </v-row>
        <v-row class="button-container">
          <v-btn @click="fetchData" color="primary">{{
            isEncrypt ? "Encrypt" : "Decrypt"
          }}</v-btn>
          <v-switch
            v-model="isEncrypt"
            color="primary"
            class="ml-2"
            label="Encrypt/Decrypt"
          ></v-switch>
        </v-row>
      </v-col>
    </v-content>
  </v-app>
</template>

<script>
import apiService from "./api/api";

export default {
  name: "App",
  data() {
    return {
      isEncrypt: true,
      key: "",
      text: "",
      simon: {
        output: "",
      },
      speck: {
        output: "",
      },
    };
  },
  methods: {
    async fetchData() {
      const request = this.isEncrypt ? apiService.encrypt : apiService.decrypt;
      const requestParams = {
        key: this.key,
        text: this.text,
        numberOfRounds: 32,
      };
      const { data } = await request(requestParams);

      this.simon = {
        ...this.simon,
        ...data.simon,
      };
      this.speck = {
        ...this.speck,
        ...data.speck,
      };
      console.log(data)
    },
  },
};
</script>

<style>
.button-container {
  align-items: center;
}

.button-container * {
  margin: 0;
}
</style>
