<template>
  <div class="py-4">
    <v-card class="pa-4 ma-0">
      <v-card-title class="pa-0">Simon</v-card-title>
      <v-row>
        <v-col cols="12" md="4">
          <v-text-field
            v-model="key"
            :rules="[
              (v) => !!v || 'Key is required',
              (v) => v.length <= 16 || 'Key must be less than 16 characters',
            ]"
            :counter="16"
            label="Key"
            required
          ></v-text-field>
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },

  created() {
    console.log("Simon created");
  },
};
</script>
